.h1-characters {
  margin: 4vh 0 4vh 0;
}
#charactersPaper{
  margin: 5vh 0 5vh 0;
}
#send {
  display: inline-flex;
  padding: 0.25em 2em;
  margin: 1em;
  text-decoration: none;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #536dfe;
  color: #536dfe;
}

#send:active {
   background: #536dfe;
   color: #fff;
 }

#personalGridListId {
  margin-right: 2em;
}

#personalCard{
  width: 345px!important;
}
.MuiCard-root {
  width: 345px;
  height: auto;
  padding: 0.5em;
}

.MuiTypography-root {
  height: 40px;
}

.MuiGridList-root {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  overflow-y: auto;
  justify-content: space-evenly;
}
.detailsCard {
  margin: 6em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.gridComicsH2 {
  margin-bottom: 2em;
}
.figcaption {
  margin-top: 4em;
}
.contact-header {
  margin-bottom: 4vh;
}
.contact-form {
  width: 250px;
  margin: auto;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.label{
  width: 16vw;
}
.demo-input {
  width: 250px;
  height: 4vh;
  border-radius: 5px;
  margin: 1em auto;
}
